.dialog {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    gap: 20px;
    padding: 30px;
    border: 0;
    border-radius: 10px;
    text-align: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.title {
    text-align: left;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.close-x {
    border: 0;
    background-color: transparent;
}  .close-x:hover {
    background-color: transparent;
}  .close-x::after {
    background-color: black;
}  .close-x::before {
    background-color: black;
}