body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    background-color: #FFF;
    padding: 20px;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

.container::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 3px 3px 0 0;
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 1100px) {
    .content {
        flex-direction: column;
        width: 100%;
    }

    .checkout-section,
    .summary-section {
        width: 100%;
    }
}

.checkout-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.summary-section {
    background-color: #fff;
    padding: 14px;
    border-radius: 8px;
    height: fit-content;
    width: 100%;
}

.inner-section {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgba(195, 195, 195, 0.8);
    border-radius: 10px;
    gap: 10px;
}

.inner-section p {
    font-size: 1rem;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    font-family: 'Arial', sans-serif;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #8A11A8;
    outline: none;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.unlock-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #8A11A8;
    transition: color 0.3s ease;
}

.unlock-button:hover {
    color: #721190;
}

.unlock-button:active {
    color: #5e0e6b;
}

.summary {
    background-color: #fafafa;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.summary-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.item-details {
    flex-grow: 1;
    margin-left: 10px;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.item-info {
    font-size: 14px;
    color: #666;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
}

.total {
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
    text-align: right;
    margin-top: 10px;
}

.checkout-button {
    background-color: #8A11A8;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #721190;
}

#credit-card-info,
#pix-info,
#boleto-info {
    margin-top: 15px;
}

#payment-method {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.frete-button {
    background-color: #8A11A8;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.frete-button:hover {
    background-color: #721190;
}
