#main {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

#main a {
    font-size: 14px;
    width: fit-content;
    color: var(--primary-color);
}#main a:hover {
     color: black;
 }

#container-login-signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 5%;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form p {
    font-weight: 600;
    text-transform: uppercase;
}

#login-error-message {
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    color: #FFF;
    background-color: #dc0e0e;
    transition: all linear 200ms;
}
