@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

:root {
    --primary-neutral-color: #1E1E1E;
    --primary-color: #8A11A8;
}

a {
    text-decoration: none;
}

header a,
footer a {
    color: #FFF;
    cursor: pointer;
}
header a:hover,
footer a:hover {
    transition: linear 150ms;
    color: var(--primary-color);
}

.background-blur {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.45);
}

.btn {
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    background-color: var(--primary-color);
    color: #FFF;
    transition: all ease-in-out 200ms;
}.btn:hover {
     background-color: #FFF;
     color: var(--primary-color);
 }

#span-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 11px;
    font-style: italic;
    background-color: var(--primary-color);
    color: #dedede;
}

#span-top .close-x {
    position: absolute;
    right: 10px;
}

.close-x {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.close-x:hover {
    background-color: rgba(46,46,46,0.52);
}

.close-x:before {
    z-index: 1;
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}
.close-x:after {
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.input-container input {
    outline: 0;
    width: 400px;
    height: 35px;
    padding: 6px 12px;
    font-weight: 500;
}

/* Grid de produtos compartilhado entre páginas */

.container-grid-section {
    display: grid;
    padding: 0px 40px;
    justify-content: space-evenly;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(210px, 340px));
    gap: 10px 30px;
}

/* PRODUTO */

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container a {
    color: black;
}

.product-container:hover .sizes,
.product-container:hover span,
.product-container:hover .btn {
    opacity: 1;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.product-description .title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-description .price {
    font-size: 14px;
    font-weight: 600;
}

.sizes {
    display: flex;
    gap: 6px;
    opacity: 0;
}

.sizes .size {
    border: 0;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 2px 6px;
}.sizes .size:hover {
     color: var(--primary-color);
 }

.product-container span {
    color: var(--primary-color);
    margin-top: 10px;
    font-size: 12px;
    opacity: 0;
}

.product-container .btn {
    margin-top: 10px;
    width: 100%;
    opacity: 0;
}

/* END - PRODUTO */