section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.product-description .title {
    max-width: 240px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-description .price {
    font-size: 14px;
    font-weight: 600;
}

.sizes {
    display: flex;
    gap: 6px;
}

.sizes .size {
    border: 0;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 2px 6px;
}.sizes .size:hover {
    color: var(--primary-color);
 }

.product-description span {
    margin-top: 10px;
    font-size: 12px;
}

.product-description .btn {
    width: 100%;
}