#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    width: 400px;
    padding: 10px;
    background-color: #e7e7e7;
    border: 2px solid #9f9f9f;
    border-radius: 2px;
}