#main {
    padding: 0;
    overflow-y: scroll;
}

#main > header {
    display: flex;
    justify-content: space-between;
    padding: 14px 30px;
    background-color: #1E1E1E;
}

#main > header a {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #FFFFFF;
}

#main > header .options {
    display: flex;
    gap: 20px;
}

#main > header .options .btn {
    padding: 14px 30px;
}

#main > section {
    display: grid;
    -ms-grid-row-align: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 15px;
    padding: 30px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#available-sizes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main > section > .images {
    position: relative;
    height: fit-content !important;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#main > section > .images > .input-container {
    width: fit-content;
}
.container-img {
    width: fit-content;
    height: 100%;
    display: flex;
}

.images input[type="file"] {
    display: none;
}

.product-image-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 3px solid var(--primary-neutral-color);
    border-radius: 16px;
    align-content: center;
    text-align: center;
    transition: all 125ms ease-in-out;
    padding: 6px;
}
.product-image-label:hover {
    background-color: rgba(30, 30, 30, 0.6);
}

label img {
    max-width: 100%;
    height: 100%;
    border-radius: 16px;
}

.additional-images {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#product-quantity-by-size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 130px));
    grid-gap: 20px;
}

.row-quantity-size {
    display: flex;
    width: 130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}