body {
    display: flex;
    height: 100%;
}

#button-toggle-sidebar {
    position: absolute;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f3336;
    border-radius: 100%;
    background-color: #FFFFFF;
    cursor: pointer;
}

.sidebar #button-toggle-sidebar i {
    position: relative;
    font-size: 30px;
    transition: all 0.5s;
}

.sidebar.min #button-toggle-sidebar i {
    rotate: 180deg;
}

.sidebar {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    height: 100vh;
    background-color: var(--primary-neutral-color);
    padding: 40px 10px 30px 10px;
    gap: 20px;
    border-right: 1px solid #2f3336;
    transition:  all 0.3s;
}

.sidebar header {
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.sidebar .logo-img {
    width: 70%;
}

.sidebar a {
    color: #FFFFFF;
}

.sidebar button {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 8px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover > span {
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar button i {
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span {
    font-size: 16px;
}

.sidebar #navigation {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main {
    width: 100%;
    height: 100vh;
    overflow:hidden;
    padding: 30px;
    background-color: #EEEEEE;
}

/* Sidebar with icons */

.sidebar.min {
    width: 72px;
}

.sidebar.min button > span {
    width: 50px;
}

.sidebar.min button > span > span {
    opacity: 0;
    visibility: hidden;
}

.container-section {
    width: 100%;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}

.container-section-header {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDDDDD;
}

.container-section-body {
    padding: 15px;
}