.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}

.product-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.product-container .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-container:hover .sizes,
.product-container:hover span,
.product-container:hover .btn {
    opacity: 1;
}

.product-container a {
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: black;
    width: 100%;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.product-description .title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-description .price {
    font-size: 14px;
    font-weight: 600;
}

.product-container span {
    color: var(--primary-color);
    margin-top: 10px;
    font-size: 12px;
    opacity: 0;
}

.product-container .btn {
    margin-top: 10px;
    width: 100%;
    opacity: 0;
}
