#main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-container {
    width: 100%;
}
.input-container input {
    width: 100%;
}

textarea {
    padding: 4px;
    width: 100%;
    height: 150px;
}

button {
    width: 100%;
}

#fix-info {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #636363;
}