@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

:root {
    --primary-neutral-color: #1E1E1E;
    --primary-color: #8A11A8;
}

a {
    text-decoration: none;
}

.background-blur {
    display: block;  /* change to none */
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.45);
}

.btn {
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    background-color: var(--primary-color);
    color: #FFF;
    transition: all ease-in-out 200ms;
}.btn:hover {
     background-color: #FFF;
     color: var(--primary-color);
 }

#span-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 11px;
    font-style: italic;
    background-color: var(--primary-color);
    color: #dedede;
}

#span-top .close-x {
    position: absolute;
    right: 10px;
}

.close-x {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
}
.close-x:hover {
    background-color: rgba(46,46,46,0.52);
}

.close-x:before {
    z-index: 1;
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}
.close-x:after {
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.default-input,
select,
textarea {
    outline: 0;
    width: 400px;
    min-height: 35px;
    padding: 6px 12px;
    font-weight: 500;
}

textarea {
    resize: none;
}

/* Grid de produtos compartilhado entre páginas */

.container-grid-section {
    display: grid;
    padding: 0px 40px;
    justify-content: space-evenly;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(210px, 340px));
    gap: 10px 30px;
}

/* SCROLLBAR */

/* Estilos para a barra de rolagem */
/* Largura e cor do fundo da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

/* Trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Alça (o botão que você pode arrastar) */
::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
}

/* Cursor (o botão pequeno que você pode arrastar para rolar rapidamente) */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}