@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

:root {
    --primary-neutral-color: #1E1E1E;
    --primary-color: #8A11A8;
    --light-gray: #9f9f9f;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.background-blur {
    display: none; /* change to none */
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
}
/*
    BUTTONS
 */
.btn {
    letter-spacing: 1px;
    cursor: pointer;
    padding: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    background-color: var(--primary-color);
    color: #FFF;
    transition: all ease-in-out 200ms;
}
.btn:hover {
    background-color: #FFF;
    color: var(--primary-color)
}

.btn.red {
    border-color: #a30e0e;
    background-color: #a30e0e;
}
.btn.red:hover {
    background-color: #FFF;
    color: #a30e0e;
}

.btn.green {
    border-color: #1f7c10;
    background-color: #1f7c10;
}
.btn.green:hover {
    background-color: #FFF;
    color: #1f7c10;
}

/*
    CLOSE BUTTON
 */
.close-x {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.close-x:hover {
    background-color: rgba(46, 46, 46, 0.52);
}

.close-x:before {
    z-index: 1;
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
}

.close-x:after {
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 9px;
    left: 1px;
    background-color: #FFFFFF;
    transform: rotate(-45deg);
}
/*
    INPUTS
 */
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-container .input-error {
    font-size: 14px;
    color: #dc0e0e;
    min-height: 10px;
}

.default-input,
select,
textarea {
    outline: 0;
    width: 100%;
    min-height: 35px;
    padding: 6px 12px;
    font-weight: 500;
    border: 1px solid var(--light-gray);
}

.default-input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-color);
}

textarea {
    resize: none;
}
/*
    SIZES
 */
.sizes {
    display: flex;
    gap: 6px;
}

.sizes .size {
    border: 0;
    background: none;
    font-weight: 600;
    cursor: pointer;
    padding: 2px 6px;
}.sizes .size:hover {
     color: var(--primary-color);
 }

/* Grid de produtos compartilhado entre páginas */

.container-grid-section {
    display: grid;
    padding: 0px 40px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill,  min(400px));
    gap: 10px 30px;
}

/* SCROLLBAR */

/* Estilos para a barra de rolagem */
/* Largura e cor do fundo da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

/* Trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Alça (o botão que você pode arrastar) */
::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
}

/* Cursor (o botão pequeno que você pode arrastar para rolar rapidamente) */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}