header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-neutral-color);
}

header #menu-button {
    display: flex;
    justify-content: center;
    width: 10%;
}
header #menu-button img {
    cursor: pointer;
}

header #mid-menu {
    width: 80%;
}
header #mid-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-transform: uppercase;
}

header #mid-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    height: fit-content;
}

header #option-menu {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header #option-menu img {
    cursor: pointer;
}

#main {
    position: relative;
    min-height: 70vh;
}

footer {
    width: 100%;
    height: 300px;
    background-color: var(--primary-neutral-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
}

footer h3 {
    margin-bottom: 20px;
}

footer div {
    width: 10%;
}

footer #footer-logo-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #footer-logo-info img {
    width: 250px;
    height: 125px;
    margin-bottom: 20px;
}